<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<strong>설문조사</strong><p>
<form action="/iam/answer" method="post">
<fieldset>
<legend>성별과 나이를 입력하세요.</legend>
성별: <input type="radio" name="gender" value="남" checked>남자
<input type="radio" name="gender" value="여">여자<br>
나이 : <input type="number" name="age" required>
</fieldset><p>
<fieldset>
<legend>관심있는 식문화를 선택하세요.(1개 이상)</legend>
<input type="checkbox" name="foods" value="소주에 삼겹살">소주에 삼겹살
<input type="checkbox" name="foods" value="딸기케이크">딸기 케이크
<input type="checkbox" name="foods" value="치맥">치맥
<input type="checkbox" name="foods" value="킹크랩">킹크랩
</fieldset><p>
<fieldset>
<legend>나의 자신감은 어느 정도인가?</legend>
나는 무지 잘 생겼다. <input type="range" name="face" min="1" max="5" value="1"><br>
나는 맘만 먹으면 A+ 이다. <input type="range" name="grade" min="1" max="5" value="1"> <br>
강의실에서 산만해보여도 머리속에는 내용이 잘 정리되어 있다.<br>
<input type="range" name="head" min="1" max="5" value="1">
</fieldset><p>
Promote yourself<br>
<textarea name="promote" rows="4" cols="40"></textarea><p>
<input type="submit" value="확인">
<input type="reset" value="취소">
</form>
</body>
</html>