<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head><meta charset="UTF-8"> <title>logout</title> 
<style> 
	body { background-color: #FBEFF5;} 
	<!--img { width: 300px; height: 220px; } -->
	#s1 {color:bule;}
	.s2 {color:gray; font-size:0.8em;}
</style></head> 
<body>
<div align="center"> 
<span id="s1" th:text="${id}">id</span> 님께서 로그아웃하셨습니다.<p> 
다음에 또 만나요!!<p> <span class="s2"> 
(아래 그림을 클릭하시면 첫 화면으로 이동합니다.)</span><br> 
<a href="/login">
<!--<img src="/fower.jpg" alt="바이바이 그림">-->
<video src="orange.mp4" autoplay controls loop>아름다운 동영상</video></a><br> 
<span class="s2">(그림 출처: N사 웹툰 daehak ilgi)</span> 
</div> 
</body></html> 