<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>artist</title>
</head>
<style>
	img { width: 30px; height: 22px; }
	span {color:gray; font-size:8px;}
</style>
<body>
<h1>좋아하는 화가</h1>
<form action="/survery3" method="get">
    <table>
        <tr>
            <td><img src="/뭉크.jpg" alt="뭉크"></td>
            <td><input type="radio" name="artist" value="뭉크"> 뭉크</td>
        <tr>
            <td><img src="/달리.jpg" alt="달리"></td>
            <td><input type="radio" name="artist" value="달리"> 달리</td>
        <tr>
            <td><img src="/고흐.jpg" alt="고흐"></td>
            <td><input type="radio" name="artist" value="고흐"> 고흐</td>
        <tr>
            <td><img src="/이중섭.jpg" alt="이중섭"></td>
            <td><input type="radio" name="artist" value="이중섭"> 이중섭</td>
    </table>
    <p><input type="submit" value="선택"></p>
</form>
<span>그림출처 : 나무위키, 위키백과</span>
</body>
</html>
