<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>musician</title>
</head>
<style>
	img { width: 30px; height: 22px; }
	span {color:gray; font-size:8px;}
</style>
<body>
<h1>좋아하는 음악가</h1>
<form action="/survery4" method="get">
    <table>
        <tr>
            <td><img src="/베토벤.jpg" alt="베토벤"></td>
            <td><input type="radio" name="musician" value="베토벤"> 베토벤</td>
        <tr>
            <td><img src="/생상스.jpg" alt="생상스"></td>
            <td><input type="radio" name="musician" value="생상스"> 생상스</td>
        <tr>
            <td><img src="/모짜르트.jpg" alt="모짜르트"></td>
            <td><input type="radio" name="musician" value="모짜르트"> 모짜르트</td>
        <tr>
            <td><img src="/아이유.jpg" alt="아이유"></td>
            <td><input type="radio" name="musician" value="아이유"> 아이유</td>
    </table>
    <p><input type="submit" value="선택"></p>
</form>
<span>그림출처 : 나무위키, 위키백과</span>
</body>
</html>
