<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	#row {background-color:pink;
	}
	.col {background-color:aqua;
	}
</style>
<body>
<h1><mark>시간표</mark></h1><p>
<table border="1">
<tr id="row"><th>교시<th>월<th>화<th>수
<tr><th class="col">1<td>딥러닝<td rowspan="2">테니스<td rowspan="3">컴퓨터구조
<tr><th class="col">2<td>웹프로그래밍
<tr><th class="col">3<td>파일처리론<td>이산수학
<tr><th class="col">4<th colspan="3">점심 및 휴식시간입니다!
<tr><th class="col">5<td>영어<td>롤<td>A.I
</table>
</body>
</html>